#Output directories
.vs/
bin/
bin-int/
DeerfoxBrowser/deps/GLFW/bin/
DeerfoxBrowser/deps/GLFW/bin-int/
DeerfoxBrowser/deps/Glad/bin/
DeerfoxBrowser/deps/Glad/bin-int/

#Files
*.user
*.sln
*.ini
*.vcxproj
*.filters